.avatarHolder {
    margin-bottom: 24px;
    text-align: center;
}
.avatarHolder > img {
    width: 104px;
    height: 104px;
    margin-bottom: 20px;
}
.avatarHolder .name {
    margin-bottom: 4px;
    color: rgba(0,0,0,0.85);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.detail p {
    position: relative;
    margin-bottom: 8px;
    padding-left: 26px;
}
.detail p:last-child {
    margin-bottom: 0;
}
.detail i {
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 14px;
}
.detail i.title {
    background-position: 10px 10px;
}
.detail i.group {
    background-position: 0 -22px;
}
.detail i.address {
    background-position: 0 -44px;
}
.tagsTitle, .teamTitle {
    margin-bottom: 12px;
    color: rgba(0,0,0,0.85);
    font-weight: 500;
}

.team :global .ant-avatar {
    margin-right: 12px;
}
.team a {
    display: block;
    margin-bottom: 24px;
    color: rgba(0,0,0,0.65);
    transition: color 0.3s;
}
.team a:hover {
    color: #1890ff;
}
.tabsCard :global .ant-card-head {
    padding: 0 16px;
}
.stepForm {
    max-width: 500px;
    margin: 40px auto 0;
}

.stepForm .input-employee{
    margin-top: 30px;
    text-align: left;
}
.stepForm .ant-btn{
    position: relative;
    left: 200px;
}
.stepForm .ant-form-item-required{
    text-align: right;
    position: relative;
    left: -90px;
}
.stepFormText {
    max-width: 500px;
    margin: 40px auto 0;
    
}
.stepFormText .input-employee{
    text-align: left;
    width: 80%;
    
}
.stepFormText .ant-btn{
    position: relative;
    left: 200px;
}
.stepFormText .ant-form-item-children{
    position: relative;
    top:12px;
    color: #028dff;
    
}
.stepFormText .ant-form-item-label > label{
    font-weight: bold;
    text-align: right;
    position: relative;
    width: 160px;
    top: -2px;
    line-height: 16px;
    
}
.stepFormText .ant-form-explain{
    margin-top: 8px;
}
.result {
    max-width: 560px;
    margin: 0 auto;
    padding: 24px 0 8px;
}
 .information {
	 line-height: 22px;
}
 .information :global .ant-row:not(:last-child) {
	 margin-bottom: 24px;
}
 .information .label {
	 padding-right: 8px;
	 color: rgba(0,0,0,0.85);
	 text-align: right;
}
 @media screen and (max-width: 576px) {
	 .information .label {
		 text-align: left;
	}
}
 .money {
	 font-weight: 500;
	 font-size: 20px;
	 font-family: 'Helvetica Neue', sans-serif;
	 line-height: 14px;
}
 .uppercase {
	 font-size: 12px;
}

.step-submit {
    display:inline-block;
    background-color: #459fed;
    text-transform: uppercase;
    border-radius:100px;
    line-height:30px;
    font-size:14px;
    font-weight:700;
    height: 40px;
    width: 145px;
    margin-left:-80px;
    margin-bottom: 20px;
    margin-top: 20px;
    color:#FFF;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor:pointer;
    text-align: center;
    -webkit-transition:border .2s ease,-webkit-box-shadow .2s ease;
    -o-transition:box-shadow .2s ease,border .2s ease;
    transition:box-shadow .2s ease,border .2s ease;
    transition:box-shadow .2s ease,border .2s ease,-webkit-box-shadow .2s ease;
    transition: background-color .2s linear;
  
  }
  .step-submit:focus,
  .step-submit:hover {
    color: #FFF;
    cursor:pointer;
    -webkit-box-shadow:0 3px 15px 0 rgba(0,0,0,.25);
    box-shadow:0 3px 15px 0 rgba(0,0,0,.25);
    background-color: #5bb2ff;
    -webkit-transition: background-color .2s linear;
   
  }
  .antd-pro-result-extra{
      text-align: center
  }
  .ant-popover-inner-content{
      width: auto;
  }
  .ant-popover-inner-content .ant-btn{
      width: auto;
  }