.background {
    position:relative;
    z-index:0;
    height: 780px;
    width: 100%;
    background:url(../assets/images/homepage.jpg);
    background-size:100% 100%;
    
}
.ant-back-top-content{
    background-color: #4eb7f5;
}
.ant-back-top-content:hover{
    background-color: #1890ff;
}
.home-panel{
    width: 100%;
    height: 78px;
    box-sizing: border-box;
    z-index: 1;
    color: azure;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: background-color .2s linear;
    margin: 0 auto 100px;
}
.home-panel:hover{
    background-color: white;
    color: #4eb7f5;
    -webkit-transition: background-color .2s linear;
    
}
.logo{
    height: 78px;
    width: 230px;
    cursor: pointer;
}
.logo .osm-logo{
    background:url(../assets/images/white-osm.png);
    height: 35px;
    width: 130px;
    background-size: 130px 35px;
    box-sizing: inherit;
    margin-left: 50px;
    margin-right: 50px;
    top: 20px;
    position: relative;
}
.home-panel:hover .osm-logo{
    background: url(../assets/images/osm-logo.png);
    height: 35px;
    width: 130px;
    background-size: 130px 35px;
    box-sizing: inherit;
    margin-left: 50px;
    margin-right: 50px;
    top: 20px;
    position: relative;
}
.home-panel__about{
    position: absolute;
    line-height: 70px;
    left: 230px;
    top: 0px;
    height: 78px;
    width: 120px;
    cursor: pointer;
}
.home-panel__about:hover{
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    border-top-color: #4eb7f5;
    border-top-style: solid;
    border-top-width: 5px;
}
.icon-about{
    position: absolute;
    top: 27px;
    font-size: 15px;
    left: 5px;
}
.icon-sp{
    position: absolute;
    top: 27px;
    font-size: 15px;
    left: 5px;
}
.home-panel__support{
    position: absolute;
    left: 350px;
    top:0px;
    height: 78px;
    line-height: 70px;
    width: 120px;
    cursor: pointer;
    border-top: #4eb7f5;
}
.home-panel__support:hover{
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    border-top-color: #4eb7f5;
    border-top-style: solid;
    border-top-width: 5px;
}
.home-panel .home-panel__button{
    position: relative;
    width: auto;
    height: 38px;
    top: -60px;
    left: 40%;
    line-height: 38px;
    white-space: nowrap;
    padding: 0 25px;
    display: block;
    line-height: 35px;  
    text-decoration: none;
    z-index: 1;
    color: #459fed;
    background-color: rgb(253, 253, 253);
    font-family: 'Roboto', sans-serif;
    transition: background-color .2s linear;
    font-weight: bold;
}
.home-panel__button:hover{
    background-color: #459fed;
    color: white;
    -webkit-transition: background-color .2s linear;
    z-index: 2;
}
.home-panel:hover .home-panel__button{

    border: 1px solid #459fed;
    border-top-color: rgb(69, 159, 237);
    border-right-color: rgb(69, 159, 237);
    border-bottom-color: rgb(69, 159, 237);
    border-left-color: rgb(69, 159, 237);
}
.home-panel .home-panel__button:focus{
    box-shadow: 0 0 3px 1px #3899ec, 0 0 1px 0 hsla(0, 0%, 100%, 9);
}
.banner0-icon{
    font-size: 30px;
    position: absolute;
    right: 9.2%;
    margin-top: -345px;
    color: #fff;
}
.body{
    position: relative;
    height: auto;
    width: 600px;
    max-width: 600px;
    text-align: center;
    margin: auto auto 50px;
}
.body > h1{
    color: white;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    
}
.body > img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.title-line-wrapper {
    height:5px;
    width:100%;
    overflow:hidden;
}
.title-line-wrapper .title-line {
    height:100%;
    width:100px;
    -webkit-transform:translateX(-100px);
    transform: translateX(-100px);
    background: -moz-linear-gradient(left, rgba(24,144,255,0), #0583F2);
    background:linear-gradient(90deg,rgba(24,144,255,0) 0,#0583F2)
}
.bg-top{
    width: 100%;
    height: 100%;
    margin-top: -100px;
    margin-bottom: -1000px;
    background: url(../assets/images/bg-top.png);
    background-size: 100% 100%;
}
.bg-bot{
    margin-top: -100px;
    min-width: 1080px;
    min-height: 322px;
    width: auto;
    height: auto;
    background: url(../assets/images/bg-bot.png);
    background-size: 100% 100%;
}
.home-page {
    margin:50px auto;
    font-family: 'Roboto', sans-serif;
    
}
.home-page h2 {
    text-align:center;
    font-weight:300;
    font-size:28px;
    color:#314659;
    letter-spacing:.6px;
    font-size: 4.235801032rem;
    font-weight: 700;
}
.home-page h2 span {
    color: #1890ff;
}
.home-page-wrapper {
    max-width:1280px;
    width:100%;
    margin:auto;
    position:relative;
}
.page1 {
    height:1160px;
}
.page1 .banner{
    width: 100%;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 20px;
}
.page1-line.title-line-wrapper {
    width:896px;
    margin:24px auto 76px
}
.page1-line.title-line-wrapper .title-line {
    -webkit-animation:page1TitleLine 3s ease-in-out 1.5s infinite;
    animation:page1TitleLine 3s ease-in-out 1.5s infinite
}

.page1-bg {
    font-size: 320px;
    color: #d9dbdf;
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: .25;
    top: 0;
    transform: translateY(960px);
  }
.page1-box-wrapper {
    margin-bottom:62px;
    display:flex;
    align-items:flex-start
}
.page1-box-wrapper li {
    width:33.33%;
    display:inline-block;
    will-change:transform
}
.page1-box-wrapper li .page1-box {
    width:194px;
    margin:auto;
    text-align:center;
    position:relative
}
.page1-box-wrapper li .page1-box .page1-image {
    width:80px;
    height:80px;
    border-radius:40px;
    margin:20px auto 32px;
    position:relative;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#fff;
    -webkit-transition:box-shadow .3s ease-out,-webkit-transform .3s ease-out;
    transition:box-shadow .3s ease-out,-webkit-transform .3s ease-out;
    transition:box-shadow .3s ease-out,transform .3s ease-out;
    transition:box-shadow .3s ease-out,transform .3s ease-out,-webkit-transform .3s ease-out
}
.page1-box-wrapper li .page1-box:hover .page1-image {
    -webkit-transform:translateY(-5px);
    transform:translateY(-5px)
}
.page1-box-wrapper li .page1-box h3 {
    color:#0d1a26;
    font-size:16px;
    margin:8px auto
}
.page1-point-wrapper {
    position: absolute;
    width: 0;
    left: 50%;
    top: 0;
}
.page1-point-wrapper .point-0 {
    width: 4px;
    height: 4px;
}
.page1-point-wrapper .point-2, .page1-point-wrapper .point-ring {
    width: 10px;
    height: 10px;
}
.page1-point-wrapper .point-ring {
    border-style: solid;
    border-width: 1px;
    background: transparent !important;
}
.page1-point-wrapper .point-1 {
    width: 6px;
    height: 6px;
}
.page1-point-wrapper .point-3 {
    width: 15px;
    height: 15px;
}
.page1-point-wrapper i {
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    transform: translate(0,30px);
}

@-webkit-keyframes page1TitleLine {
    0%,
    25% {
     -webkit-transform:translateX(-100px);
     transform:translateX(-100px)
    }
    75%,
    to {
     -webkit-transform:translateX(376px);
     transform:translateX(376px)
    }
   }
   @keyframes page1TitleLine {
    0%,
    25% {
     -webkit-transform:translateX(-100px);
     transform:translateX(-100px)
    }
    75%,
    to {
     -webkit-transform:translateX(300px);
     transform:translateX(900px)
    }
   }
@media only screen and (max-width:480px) {
    .page1 {
        height:2400px
    }
    .page1-box-wrapper {
        display:block
    }
    .page1-box-wrapper li {
        width:80%;
        display:block;
        margin:0 auto 100px
    }
    .page1-box-wrapper li .page1-box {
        width:100%
    }
    .banner-wrapper .banner-title-wrapper h1 {
        font-size:28px
    }
    .banner-wrapper .banner-title-wrapper p {
        font-size:16px
    }
}
@media only screen and (max-width:320px) {
    .home-page h2 {
     font-size:24px
    }
}
@media only screen and (max-width:768px) {
    .home-page {
        width:90%
       }
}